body {
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(120, 61%, 50%);
  display: flex;
  font-family: "Orbitron", sans-serif;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2.5px;
  margin: 0;
}

div.container {
  width: 80%;
  padding: 10px;
  max-width: 95%;
}

header {
  display: block;
  text-align: center;
}

footer {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

footer a {
  color: hsl(0, 0%, 100%);
}

footer a:hover {
  color: hsl(0, 100%, 50%);
}

footer a:active {
  font-weight: 900;
}

select {
  border-radius: 4px;
  display: block;
  font-family: Orbitron, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.5;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 45%;
}

section.clock-instance {
  align-items: center;
  border-bottom: 3px dashed hsl(120, 61%, 50%);
  display: flex;
  flex-basis: 100%;
  padding: 0 10px;
  justify-content: space-between;
}

section.clock-instance:last-child {
  border-bottom: none;
}
p.city {
  font-size: 21px;
  font-weight: 700;
}

p.date {
  font-size: 16px;
  font-style: italic;
}

p.instructions {
  margin: 20px auto;
  max-width: 95%;
  width: 80%;
}

p.time {
  font-size: 32px;
  font-weight: 700;
}

p.time span {
  font-size: 18px;
  font-weight: 900;
  vertical-align: middle;
}

@media only screen and (max-width: 576px) {
  div.container {
    width: 90%;
  }
  p.instructions {
    margin: 20px auto;
    max-width: 95%;
    width: 80%;
  }
  select {
    margin: 10px auto;
    width: 85%;
  }

  section.clock-instance {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
  }
  p.time {
    margin: 10px 0 20px 0;
  }
  p.date {
    margin: 0 0 10px 0;
  }
  p.city {
    margin: 20px 0 10px 0;
  }
}
